<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body>
    <h1>Clarke</h1>
    <img src="images/edmund.jpg" alt="" width="420px">
    <h2>Reconocido por haber desarrollado el método conocido como "model checking", para verificar diseños de software o hardware. No se bien qué es aún, o tal vez lo sé pero no lo sé concientemente jejeje</h2>
    <a href="/">Volver al Inicio</a>
</body>
</html>