<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hopper</title>
</head>
<body>
    <h1>Hopper</h1>
    <img src="images/grace.jpg" alt="" width="620px">
    <h2>Ingeniera de computación estadounidense. Inventa en 1952 el primer compilador para ordenador. Inventa el lenguaje COBOL. Zarpada en grosa, ZARPADAAAA</h2>
    <a href="/">Volver al Inicio</a>
</body>
</html>